/* comfirmacao.css */

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
    color: #004080; /* Azul escuro para o título */
}

h3 {
    text-align: center;
    color: #004080; /* Azul escuro para o título */
}
}

p {
    text-align: center; /* Centraliza os parágrafos */
    color: #ffffff; /* Cor do texto */
}

ul.agendamento-detalhes {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0;
    margin: 20px auto; /* Centraliza a lista */
    max-width: 600px; /* Define largura máxima da lista */
    background-color: #fff; /* Fundo branco */
    border: 1px solid #b3c7e6; /* Borda azul claro */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

ul.agendamento-detalhes li {
    padding: 10px;
    border-bottom: 1px solid #b3c7e6; /* Borda inferior azul claro */
}

ul.agendamento-detalhes li:last-child {
    border-bottom: none; /* Remove a borda do último item */
}

button {
    background-color: #004080; /* Azul escuro para o botão */
    color: #fff; /* Texto branco */
    border: none; /* Remove borda padrão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    cursor: pointer; /* Cursor de ponteiro para indicar que é clicável */
    border-radius: 5px; /* Bordas arredondadas */
    display: block; /* Faz o botão ocupar toda a largura disponível */
    margin: 20px auto; /* Centraliza o botão */
    font-size: 16px; /* Tamanho da fonte do botão */
}

button:hover {
    background-color: #003366; /* Azul mais escuro no hover */
}
