/* horarios.css */

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse; /* Remove espaços entre as células */
}

table, th, td {
    border: 1px solid #b3c7e6; /* Borda azul claro */
}

th {
    background-color: #004080; /* Fundo do cabeçalho da tabela */
    color: white;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
    background-color: #fff; /* Fundo branco para as células */
}

